@* Context data sidebar tab *@
@using NodeRed.Editor.Services
@inject EditorState State

<div class="red-ui-sidebar-context">
    <div class="red-ui-sidebar-header">
        <span>Context Data</span>
    </div>
    <div class="red-ui-sidebar-context-content">
        <p>Context data will be displayed here.</p>
    </div>
</div>

@code {
}
