@* Config nodes sidebar tab *@
@using NodeRed.Editor.Services
@inject EditorState State

<div class="red-ui-sidebar-config">
    <div class="red-ui-sidebar-header">
        <span>Configuration Nodes</span>
    </div>
    <div class="red-ui-sidebar-config-content">
        <p>Configuration nodes will be listed here.</p>
    </div>
</div>

@code {
}
